USE [master]
GO
/****** Object:  Database [ECMDB]    Script Date: 07/03/2010 08:21:07 ******/
CREATE DATABASE [ECMDB] ON  PRIMARY 
( NAME = N'ECMDB', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\ECMDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ECMDB_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\ECMDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ECMDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ECMDB]
GO
/****** Object:  Table [dbo].[trials]    Script Date: 07/03/2010 08:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trials](
	[id] [int] NOT NULL,
	[cro] [int] NOT NULL,
	[name] [nchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patients]    Script Date: 07/03/2010 08:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[id] [int] NOT NULL,
	[name] [nchar](32) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[records]    Script Date: 07/03/2010 08:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[records](
	[id] [int] NOT NULL,
	[patient] [int] NOT NULL,
	[value] [nchar](20) NOT NULL,
	[is_clarification] [bit] NOT NULL,
	[trial] [int] NOT NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_records] ON [dbo].[records] 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[principals]    Script Date: 07/03/2010 08:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[principals](
	[id] [int] NOT NULL,
	[name] [nchar](40) NOT NULL
) ON [PRIMARY]
GO
